<!DOCTYPE html>
<html lang="{{ htmlLang or 'en' }}">
{% include "head.njk" %}
<body class="{{ bodyClass }}">
  {% include "header.njk" %}
  {{ content | safe }}
  {% include "footer.njk" %}
  {% include "scripts.njk" %}
</body>
</html>
